*{
  font-family: monospace;
  font-size: x-large;
}

body{
    margin: 25px;
    background-color: rgb(250, 250, 244);
}

a{
    text-decoration: none;
    color: white;
}

.card{
  border: blueviolet 2px solid;
  border-radius: 0%;
  background-color: #b9f6bb;
}

.emp_details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: justify;
  height: auto;
  width: 100%;
  max-width: 500px;
}

h6{
  font-size: x-large;
}